@import "../javascripts/bower_components/normalize-css/normalize.css";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.inset-shadow-top, .inset-shadow-bottom {
  overflow: hidden;
}
.inset-shadow-top:before, .inset-shadow-top:after {
  content: '';
  z-index: 1;
  display: block;
  position: absolute;
  width: 100%;
  height: 0px;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
}
.inset-shadow-top:before {
  top: 0;
}
.inset-shadow-top:after {
  bottom: 0;
}

.view {
  height: 100%;
}

.loader-view.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 1s, opacity 0.3s linear .7s;
  transition: visibility 0s linear 1s, opacity 0.3s linear .7s;
}
.loader-view {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #FEFEFE;

  visibility: visible;
  opacity: 1;
  transition-delay: 0s;

  display: -webkit-box;

  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.loader-view .progress-section {
  -webkit-box-flex: 1;
  box-flex: 1;

  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-align-items: center;

  text-align: center;
  color: #255AE1;
  font-size: 2em;
  font-weight: 500;
}
.loader-view .progress-section:first-child {
  border-bottom: 1px solid #0C41C8;
}
.loader-view .progress-section:last-child {
  border-top: 1px solid #3F74FB;
}
.loader-view .progress-section.ready {
  background-color: #255AE1;
  color: #FFF;
}

.content-view {
  position: relative;
}

header {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  line-height: 1.5em;
  color: #FFF;
}

.nav-link {
  position: absolute;
  color: #FFF;
  text-decoration: none;
}
.nav-view .btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  color: #ffffff;
  background-color: rgba(66, 139, 202, .9);
  border: 1px solid transparent;
  border-color: #357ebd;
  border-radius: 4px;
  text-decoration: none;
  -webkit-font-smoothing:antialiased;
}
.nav-view .btn:active {
  z-index: 5;
  background-color: rgba(50, 118, 177, .9);
  border-color: #285e8e;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.skip-btn {
  position: absolute;
  top: 12px;
  left: 12px;
}

.mode-toggle {
  right: 12px;
  top: 12px;
}
.mode-toggle a {
  z-index: 0;
  float: left;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: rgba(66, 139, 202, .9);
  border-color: #357ebd;
  text-decoration: none;
  -webkit-font-smoothing:antialiased;
}
.mode-toggle a:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mode-toggle a:last-child {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.mode-toggle a:active, .mode-toggle a.active,
.mode-toggle.bike-mode .bike-btn, .mode-toggle.dock-mode .dock-btn {
  z-index: 5;
  background-color: rgba(50, 118, 177, .9);
  border-color: #285e8e;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.guide-view {
  position: relative;
  height: 100%;
  width: 100%;
}
.map-holder {
  position: absolute;
  height: 100%;
  width: 100%;
}
.debug-holder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 1000;
  background-color: red;
  color: white;
}

.map-marker {
  font-size: 18px !important;
}
.map-marker > .marker-blip {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow:
    0 1px 6px rgba(0,0,0,0.3),
    0 0 2px rgba(0,0,0,0.2) inset;
  background: #1e69de;
  background-position: -1px -1px;
}
.map-marker > .marker-ring {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0.2em 0.12em #2C73DD;
  -webkit-animation: blip 1400ms infinite;
}
@-webkit-keyframes blip {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.6);
    opacity: 0;
  }
}
@-webkit-keyframes small_blip {
  0% {
    -webkit-transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}

.map-marker.station {
  font-size: 11px !important;
}
.map-marker.station > .marker-blip {
  background: #F75850;
  box-shadow: 0 1px 6px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.2) inset;
}
.map-marker.station > .marker-ring {
  display: none;
  -webkit-animation: none;
}

.map-marker.target-station > .marker-blip {
  font-size: 18px !important;
}
.map-marker.target-station > .marker-ring {
  display: block;
  box-shadow: 0 0 0.2em 0.12em #EB1C24;
  -webkit-animation: small_blip 2500ms infinite;
}

footer {
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 8em;
  text-align: center;
  -webkit-perspective: 800px;
}
.footer-card {
  width: 100%;
  height: 100%;
  position: absolute;

  -webkit-transition: -webkit-transform .75s;
  transition: transform .75s;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
}
.footer-card.flipped {
  -webkit-transform: translateY(-100%) rotateX(180deg);
  transform: translateY(-100%) rotateX(180deg);
}
.card-side {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px 12px;
  border-top: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backface-visibility: hidden;
}
.card-front {}
.card-back {
  -webkit-transform: rotateX(180deg);
  transform: rotateY(180deg);
}


.target-meta {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
}

.target-address {
  font-size: 2.25em;
  line-height: 1.3;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #444;
}
.target-availability {
  font-size: 1.4em;
  color: #666;
}
.target-distance {
  font-size: 1.2em;
  color: #666;
}

.subway-text {
  color: #444;
  font-weight: bold;
  margin-top: 0.3em;
}
.target-subways {
  display: -webkit-box;
  display: box;

  -webkit-box-align: start;
  box-align: start;

  -webkit-box-pack: center;
  box-pack: center;

  height: 100%;
  margin-top: .2em;
}
.mta-symbol {
  display: block;
  height: 2.2em;
  width: 2.2em;
  margin: 5px;
  border-radius: 2.2em;
  text-align: center;
  line-height: 2.2em;
  font-size: 1.7em;
  font-weight: 500;
  color: #FFF;
  background-color: red;
}

.mta-symbol._A, .mta-symbol._C, .mta-symbol._E {
  background-color: #2850AD;
}
.mta-symbol._B, .mta-symbol._D, .mta-symbol._F, .mta-symbol._M {
  background-color: #FF6319;
}
.mta-symbol._G {
  background-color: #6CBE45;
}
.mta-symbol._J, .mta-symbol._Z {
  background-color: #996633;
}
.mta-symbol._L {
  background-color: #A7A9AC;
}
.mta-symbol._N, .mta-symbol._Q, .mta-symbol._R {
  background-color: #FCCC0A;
}
.mta-symbol._S {
  background-color: #808183;
}
.mta-symbol._1, .mta-symbol._2, .mta-symbol._3 {
  background-color: #EE352E;
}
.mta-symbol._4, .mta-symbol._5, .mta-symbol._6 {
  background-color: #00933C;
}
.mta-symbol._7 {
  background-color: #B933AD;
}
