<a href="#" class="menu-link nav-link">Menu</a>
<a href="#" class="mode-link nav-link {{searchMode}}-mode">
  <span class="bike-icon icon">bike</span>
  <span class="dock-icon icon">dock</span>
</a>
<h1 class="logo">CityCompass</h1>